
.singUp{
    display:flex;
    justify-content: end;
    background: url("../../image/singup.jpg")  ;
    background-size:cover;
    height:42rem;
   

  
}
.singUp-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10rem;
    gap: 1rem;
}
.singUp-content-footer{

    display:flex;

    flex-direction: column;
    gap:2rem;
}